In [4]:
import pandas as pd
metadata = pd.read_csv('dataset/movies.csv', low_memory=False)
metadata.head(3)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0

In [6]:
C = metadata['score'].mean()
print(C)
m = metadata['votes'].quantile(0.90)
print(m)

6.390410958904109
226000.0

In [7]:
q_movies = metadata.copy().loc[metadata['votes'] >= m]
print(q_movies.shape)
print(metadata.shape)

(768, 15)
(7668, 15)

Из приведенного выше вывода становится ясно, что около 10% фильмов имеют более 226000 голосов и могут быть включены в этот список.

In [8]:
def weighted_rating(x, m=m, C=C):
    v = x['votes']
    R = x['score']
    # Расчет по формуле IMDB
    return (v/(v+m) * R) + (m/(m+v) * C)

q_movies['new_score'] = q_movies.apply(weighted_rating, axis=1)

In [9]:
q_movies = q_movies.sort_values('score', ascending=False)

#топ 10 фильмов
q_movies[['name', 'votes', 'score', 'new_score']].head(10)

,name,votes,score,new_score
2443,The Shawshank Redemption,2400000.0,9.3,9.049594
5243,The Dark Knight,2400000.0,9.0,8.775412
2444,Pulp Fiction,1900000.0,8.9,8.633223
2247,Schindler's List,1200000.0,8.9,8.502267
4245,The Lord of the Rings: The Return of the King,1700000.0,8.9,8.605521
2445,Forrest Gump,1900000.0,8.8,8.543854
3444,Fight Club,1900000.0,8.8,8.543854
3845,The Lord of the Rings: The Fellowship of the Ring,1700000.0,8.8,8.517255
5643,Inception,2100000.0,8.8,8.565878
1643,Goodfellas,1100000.0,8.7,8.306360